<div class="card">
  <div class="card-header">

    <a class="btn btn-success" routerLink="/agregar-empleado/" role="button">Agregar Nuevo Empleado</a>
  </div>
  <div class="card-body">
    <h1>Lista de Empleados</h1>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empleado of Empleados; let iControl=index">
          <td scope="row">{{empleado.id}}</td>
          <td>{{empleado.nombre}}</td>
          <td>{{empleado.correo}}</td>
          <td>
            <a> </a>

            <a class="btn btn-info" routerLink="/editar-empleado/{{empleado.id}}" role="button">Editar</a>|

            <a class="btn btn-danger" (click)="borrarRegistro(empleado.id,iControl)" role="button">Borrar</a>
          </td>
        </tr>

      </tbody>
    </table>


  </div>

</div>